.main-content {
    font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
    max-width: 1100px;
    margin: 10px auto 0;
}

.authorization {
    max-width: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.authorization a.link {
    float: right;
}

.profile-item .pull-left {
    padding-right: 50px;
}

.profile-item .online {
    width: 10px;
    height: 10px;
    background-color: #919191;
    border-radius: 50%;
    position: relative;
    margin: 4px 5px 0px;
    display: inline-block;
}

.profile-item .online-active {
    background-color: #00ff84;
}

.profile-item .online-time {
    font-size: 0.8em;
    font-weight: normal;
}

.agency-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * link and caption are hidden by default (on unitialized photo)
 */
.file-preview-frame .inner-default {
    display: none;
}

.file-preview-frame .inner-notdefault {
    display: none;
}

/**
 * hide incompatible link and caption on initialized photo
 */
.file-preview-frame.outer-notdefault .inner-default {
    display: none;
}

.file-preview-frame.outer-default .inner-notdefault {
    display: none;
}

/**
 * show compatible link and caption on initialized photo
 */
.file-preview-frame.outer-notdefault .inner-notdefault {
    display: inline;
}

.file-preview-frame.outer-default .inner-default {
    display: inline;
}

.operator-profile-photo {
    width: 50px;
    height: 50px;
    padding-right: 5px;
}

.table>tbody>tr:first-child>td {
    border-top: 0;
}

.popover-content {
    word-wrap: break-word;
}

.nav > li > a > i {
    padding-right: 10px;
}

.login-errors {
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
}

.project-list {
    width: 300px;
}

.comment {
    max-width: 730px;
}

.panel-body {
    background-color: #fafafa;
}

.task-meta-table {
    text-align: left;
}

.timeline {
    list-style: none;
}
.timeline > li {
    margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
    .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }
    .timeline-content {
        width: 90%;
        float: left;
        border-left: 2px #aeaeae solid;
        padding-left: 20px;
    }
}
